# Directories #
build/
target/
libs/
tmp/
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# NetBeans
######################
nbproject/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/
logs/